name: CI Check

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npx eslint . --ext .js,.jsx,.ts,.tsx
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install

      - name: Set dummy Firebase env
        run: |
          echo "VITE_FIREBASE_API_KEY=dummy" >> $GITHUB_ENV
          echo "VITE_FIREBASE_AUTH_DOMAIN=dummy.firebaseapp.com" >> $GITHUB_ENV
          echo "VITE_FIREBASE_PROJECT_ID=dummy" >> $GITHUB_ENV
          echo "VITE_FIREBASE_STORAGE_BUCKET=dummy.appspot.com" >> $GITHUB_ENV
          echo "VITE_FIREBASE_MESSAGING_SENDER_ID=123456789" >> $GITHUB_ENV
          echo "VITE_FIREBASE_APP_ID=1:123456789:web:dummy" >> $GITHUB_ENV
          echo "VITE_FIREBASE_MEASUREMENT_ID=G-XYZ" >> $GITHUB_ENV

      - name: Run tests
        run: npx vitest run
